body {
  background-color: black;
  max-width: 1020px;
  margin: 0 auto;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.mainHeader {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.searchWrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 60%;
  margin: 20px auto 0 auto;
  border-radius: 6px;
  text-align: center;
}

input {
  border: 1px solid black;
  border-radius: 6px;
  display: block;
  outline: none;
  padding: 5px;
  width: calc(100%-20px);
}

.search-btn {
  background-color: #669999;
  border: 1px solid black;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-left: 20px;
  max-width: 140px;
  max-height: 40px;
  outline: none;
  padding: 10px 10px;
  text-decoration: none;
  transition: .5s ease;

  &:hover{
    background-color: #3d5b5b;
  }
}

 .imgWrapper {
  border-radius: 50%;
  height: 150px;
  margin: 0 auto;
  width: 150px;
} 

.artistImg, .trackPic {
  border-radius: 50%;
  color: transparent;
  height: 120px;
  width: 120px;
  margin-top: 20px;
}

.image-btn {
  background-color: transparent;
  border: none;
  border-radius: 50%;

  &:focus {
    outline: none;
  }
}

.tracksWrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 400px;


.track-wrap {
  text-align: center;
  margin-bottom: 40px;
  
  .title-wrap {
    color: white;
    font-weight: bold;
    height: 50px;
    margin-bottom: 5px;
  }


  .cover-wrap {  //container
    position: relative;
  }

  .track-cover {  //image
    cursor: pointer !important;
    transition: .5s ease;
    height: 120px;
    width: 120px;
  }

  .play, .pause {  //middle
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    height: 120px;
    width: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .cover-wrap:hover .track-cover {
    cursor: pointer !important;
    opacity: 0.3;
  }
  
  .cover-wrap:hover .play {
    cursor: pointer !important;
    opacity: 1;
  }

  .cover-wrap:hover .pause {
    cursor: pointer !important;
    opacity: 1;
  }

}
}
